.layout {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .section {
    margin-top: $marg-lay-mobile;
  }

  .section:first-child,
  .section:last-child {
    margin-top: $marg-lay-first-last-mobile;
  }

  @include on-tablet {
    .section {
      margin-top: $marg-lay-tablet;
    }
  }

  @include on-desktop {
    .section {
      margin-top: $marg-lay-desktop;
    }

    .section:first-child {
      margin-top: $marg-lay-first-desktop;
    }

    .section:last-child {
      margin-top: $marg-lay-last-desktop;
    }
  }

  // .section:not(:first-child) {
  //   margin: 0 auto;
  // }
}
