.layout {
  --colomns: 2;

  @include content-padding-inline;

  display: grid;
  grid-template-columns: repeat(var(--colomns), 1fr);
  column-gap: 20px;
  margin-inline: auto;

  @include on-tablet {
    --colomns: 6;

    column-gap: 24px;
  }

  @include on-desktop {
    --colomns: 12;
  }
  .section {
    margin-top: $marg-lay-mobile;
    grid-column: 1 /-1;
  }

  .section:first-child,
  .section:last-child {
    margin-top: $marg-lay-first-last-mobile;
  }

  @include on-tablet {
    .section {
      margin-top: $marg-lay-tablet;
    }
  }

  @include on-desktop {
    .section {
      margin-top: $marg-lay-desktop;
    }

    .section:first-child {
      margin-top: $marg-lay-first-desktop;
    }

    .section:last-child {
      margin-top: $marg-lay-last-desktop;
    }
  }

  // .section:not(:first-child) {
  //   margin: 0 auto;
  // }
}
