.products-grid {
  grid-column: 1 / -1;
  display: grid;
  row-gap: 40px;

  @include on-tablet {
    grid-column: 2 / span 4;
    row-gap: 48px;
  }

  @include on-desktop {
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
  }
}
