.product {
  &__foto {
    width: 100%;
    margin-bottom: 32px;
  }

  &__title {
    font-weight: $prod-title-weight;
    font-size: $prod-title-size;
    margin-bottom: 8px;
  }

  &__price {
    font-weight: $prod-title-weight;
    font-size: $prod-title-size;
    margin-top: 16px;
  }
}
