.section {
  @include grid-layout;

  &__title {
    margin-bottom: $marg-sections-title;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    grid-column: 1 / -1;
    justify-self: center;

    @include on-tablet {
      font-size: 48px;
    }

    @include on-desktop {
      font-size: 64px;

      &--last {
        font-size: 48px;
        font-weight: 600;
      }
    }

    &--align-left {
      justify-self: start;

      @include on-tablet {
        grid-column: span 3;
        font-size: 48px;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &.section-move-free {
    .text-move-free {
      @extend %text-info-product;

      font-weight: 500;
      font-size: 23px;

      @include on-tablet {
        grid-column: span 3;
      }

      @include on-desktop {
        grid-column: span 6 / 12;
      }
    }
  }

  &.compare {
    @include on-tablet {
      grid-column: 3 / 10;
    }
  }
}
