// display sizing
$tablet-min-width: 744px;
$desktop-min-width: 1024px;

// color
$nav-color: #1d1d1d;
$primary-text-color: #ffff;

// padding / margin
$marg-lay-mobile: 92px;
$marg-lay-first-last-mobile: 60px;
$marg-lay-tablet: 120px;
$marg-lay-first-desktop: 120px;
$marg-lay-last-desktop: 180px;
$marg-lay-desktop: 144px;
$marg-title: 48px;

// font weigt - size
$prod-title-weight: 700;
$prod-title-size: 24px;
