// display sizing
$tablet-min-width: 744px;
$desktop-min-width: 1024px;

// color
$nav-color: #1d1d1d;
$primary-text-color: #ffff;

// padding / margin
$gap-mobile: 20px;
$gap-large: 24px;
$marg-sections-title: 48px;

// font weigt - size
$prod-title-weight: 700;
$prod-title-size: 24px;

// gdisplay grid colomns
$--colomns: 2;
